name: "Chore: Delete old workflows"
on:
  schedule:
    # Run daily, at 19:14
    - cron: '14 19 * * *'

jobs:
  delete_old_workflows:
    runs-on: ubuntu-latest
    steps:
      - name: Delete old workflows
        uses: Mattraks/delete-workflow-runs@63b223f231f2f5bbea217100ec6d29ab24faa7a1 # v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 30
          keep_minimum_runs: 5
#          dry_run: 'true'
